
[Unit]
Description=papazolaMasterMonitor
StartLimitBurst=5
StartLimitIntervalSec=10

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/python3 /var/www/world/launch.py

[Install]
WantedBy=multi-user.target
